.uploadcon{
    width: 100%;
    height: 83vh;    
    display: flex;
    flex-direction: column;   
    border-top: 1px solid rgba(0, 0, 0, 0.2); 
    margin-top: 100px;
}

.publish{
    width: 100%;    
    height: 80px;    
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: end;
}

.publish span{
    color: rgba(0, 0, 0, 0.767);
}

.upload{
    width: 100%;
    max-height: 100vh;    
    overflow: scroll;
    display: flex;
    flex-direction: row;    
}

.upload .left{    
    width: 40%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload .left .imgcon{    
    margin-top: 20px;
    max-height: 500px;
    min-height: 200px;
    width: 330px;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    border: 3px solid rgba(0, 0, 0, 0.205);
}

.upload .left .imgcon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: -1;
}

.pencil{
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.719);    
    color: black;
}

.pencil:hover{
    background-color: white;    
}

.upload .right{
    width: 60%;    
    height: max-content;        
}

.upload .right form{  
  width: 80%;
  display: flex;  
  align-items: start;    
}

.upload .right form .top{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding: 20px;
}

.upload .right form .top label{
    font-size: 12px;
    color: black;    
}

.details .checkboxs {
    display: flex;
    flex-direction: row;            
    gap: 40px;
}

.details .checkboxs .checkbox{
    display: flex;
    gap: 10px;
}

.upload .right form .top input{
    padding: 15px;
    width: 100%;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;    
}



.upload .right form .top .textarea{
    height: 120px;
    width: 100%;
    border: 4px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 10px;    
}

textarea:focus {
    outline: none;
    border-color: skyblue !important; 
  }

  @media screen and (max-width:767px) {
    .upload{
        display: flex;
        flex-direction: column;
        align-items: center;        
        width: 100% !important;        
    }
    .upload .right form{
        width: 100% !important;                
    }
    .details{
        display: none;
    }
  }