.singlecon {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin-top: 100px;
}

.single {
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 1000px;
    height: 700px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.1);
}

.single .left {
    position: relative;
    height: 100%;
    width: 100%;
    flex: 1;
}

.single .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.zoom {
    background-color: white;
}

.zoom:hover {
    background-color: rgba(255, 255, 255, 0.788);
}

.single .left>:nth-child(2) {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.single .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    position: relative;
}

.single .right .s_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 500px;
    padding: 40px 40px;
}

.s_top .one,
.s_top .two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
}

.s_top .two h1 {
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.single .right .s_btm {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    gap: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.137);
}

.single .right .s_btm span,
.comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 5px; 
}

.single .right .s_btm .comment img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.single .right .s_btm .comment .input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.150);
    border-radius: 30px;
    overflow: hidden;
}

.single .right .s_btm .comment .input img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-right: 15px;
}

.single .right .s_btm .comment .input input {
    padding: 20px;
    width: 100%;
    border: none !important;
    background-color: transparent;
    font-size: 15px;
}

.single .right .s_btm .comment .input input:focus {
    outline: none !important;
}

.s_mid {
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px 40px;
    margin-top: -50px;
}

.s_mid .follow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.s_mid .follow .fname {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.s_mid .follow .fname>:nth-child(1) {
    cursor: pointer;
}

.s_mid .follow .fname h1 {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    cursor: pointer;
}

.s_mid .follow .fname h1 p {
    color: rgba(0, 0, 0, 0.612);
    font-size: 15px;
    cursor: auto;

}

.fnameimg {
    width: 50px;
    height: 50px;
    object-fit: contain !important;
}

.cud {
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

.cud span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 20px;
}

.imgcontent {
    width: 100%;
    min-height: 100px;
    height: max-content;
    overflow: hidden;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.imgcontent h1 {
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
}

.imgcontent span {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.726);
    text-transform: capitalize;
}

.commentscon {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 180px;
    overflow: scroll;
    overflow-x: hidden;
    margin-bottom: -50px;
    padding: 10px;
}

.commentbtn {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 25px;
    font-size: 15px;
    margin-right: 10px;
    font-weight: 700;
}

.commentbtn:hover {
    background-color: white;
    color: black;
}

.morelikethat {
    margin-top: 50px;
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;    
}

.morelikethat h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
    border-bottom: 4px solid black;
}

.morelikathatcards {
    columns: 5;
    column-gap: 10px;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.noposts {    
    width: 100%;
}

@media screen and (max-width:480px) {
    .singlecon {
        margin-top: 50px;
    }

    .single {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: max-content;
    }

    .single .left {
        flex: 1;
        width: 100%;
        height: 100vh;
    }

    .single .right {
        flex: 1;
        width: 100%;
        height: 100vh;
    }

    .single .right .s_mid {
        margin-top: 5px;
        padding: 5px;
        height: max-content;
    }

    .imgcontent {
        width: 100%;
    }

    .single .right .s_top .two h1 {
        display: none;
    }

    .single .right .s_top {
        width: 100%;
        gap: 10px;
        height: 50px;
    }

    .single .right .s_btm {
        padding: 10px;
        gap: 10px;
        width: 100%;
    }

    .single .right .s_btm span {
        width: 100%;
    }


    .s_mid .imgcontent {
        text-align: center;
    }

    .cud {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        height: max-content;
    }

    .morelikathatcards {
        columns: 2;
        column-gap: 10px;
    }
    .nocmts{        
        font-size: 12px !important;
        text-align: center;        
    }
    .commentscon{
        margin-bottom: 10px;        
    }
}